// color variants
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "themes-vars.module.scss";

// third-party
@import "~react-perfect-scrollbar/dist/css/styles.css";

// ==============================|| LIGHT BOX ||============================== //
.fullscreen .react-images__blanket {
  z-index: 1200;
}

// ==============================|| APEXCHART ||============================== //

.apexcharts-legend-series .apexcharts-legend-marker {
  margin-right: 8px;
}

// ==============================|| PERFECT SCROLLBAR ||============================== //

.scrollbar-container {
  .ps__rail-y {
    &:hover > .ps__thumb-y,
    &:focus > .ps__thumb-y,
    &.ps--clicking .ps__thumb-y {
      background-color: $grey500;
      width: 5px;
    }
  }
  .ps__thumb-y {
    background-color: $grey500;
    border-radius: 6px;
    width: 5px;
    right: 0;
  }
}

.scrollbar-container.ps,
.scrollbar-container > .ps {
  &.ps--active-y > .ps__rail-y {
    width: 5px;
    background-color: transparent !important;
    z-index: 999;
    &:hover,
    &.ps--clicking {
      width: 5px;
      background-color: transparent;
    }
  }
  &.ps--scrolling-y > .ps__rail-y,
  &.ps--scrolling-x > .ps__rail-x {
    opacity: 0.4;
    background-color: transparent;
  }
}

.css-3r5omo-MuiGrid-root {
  margin-top: 2px;
}

.css-3r5omo-MuiGrid-root {
  margin-top: 30px;
}

// ==============================|| ANIMATION KEYFRAMES ||============================== //

@keyframes wings {
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -7px, 0);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  90% {
    transform: translate3d(0, -2px, 0);
  }
}

@keyframes slideY {
  0%,
  50%,
  100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
}

@keyframes slideX {
  0%,
  50%,
  100% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
}

.css-1hqxfpk-MuiDataGrid-root {
  border: none;
  //   border-radius: 12px !important;
}

.css-1iyq7zh-MuiDataGrid-columnHeaders {
  background-color: #eef2f6;
  min-height: 60px !important;
  max-height: 60px !important;
  line-height: 60px !important;
  border-radius: 4px !important;
}

.MuiDataGrid-columnHeaderTitleContainer {
  justify-content: center;
}
// .MuiDataGrid-row {
//   max-height: 58px !important;
//   min-height: 58px !important;
// }

.css-axafay-MuiDataGrid-virtualScroller::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.css-axafay-MuiDataGrid-virtualScroller::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.css-axafay-MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.css-axafay-MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.css-wop1k0-MuiDataGrid-footerContainer {
  height: 20px;
}

.MuiDataGrid-cell {
  justify-content: center !important;
}

.css-g8plc8-MuiListItem-root:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.css-1a6bxpb-MuiButtonBase-root-MuiButton-root {
  background-color: none !important;
}

button {
  background-color: none !important;
}

.scrollable-container {
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
}

.stage-container {
  position: relative;
}

.scrollable-stage {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 20px;
}

/* Target the scrollbar */
.scrollable-stage::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
  height: 12px;
}

/* Style the thumb */
.scrollable-stage::-webkit-scrollbar-thumb {
  background-color: gray; /* Set the background color of the thumb */
  border-radius: 5px; /* Set the radius of the thumb */
}

/* Style the track */
.scrollable-stage::-webkit-scrollbar-track {
  background-color: lightgray; /* Set the background color of the track */
}

canvas {
  background: rgba(211, 211, 211, 0.655) !important;
  border-radius: 10px !important;
}
